body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    box-sizing: border-box;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px; 
}

th, td {
    padding: 15px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-pesanan {
    flex: 1;
    background-color: #f2f2f2;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.info-pesanan h2 {
    text-align: center;
    margin-bottom: 15px;
}

.info-pesanan p {
    margin: 10px 0;
}

.bukti-pemesanan {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-content {
    text-align: center;
}

.center-content img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.center-content h3 {
    margin: 0;
    font-size: 24px;
}

input[type="date"],
input[type="number"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.payment-method {
    padding: 15px;
    margin-bottom: 30px; 
}

.payment-method input[type="radio"] {
    margin-right: 10px;
}

.footer {
    background-color: #f2f2f2; 
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 30px; 
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

a {
    color: black; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .info-container {
        flex-direction: row;
        justify-content: space-between;
    }
}
